<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <script src="/socket.io/socket.io.js"></script>
    <script src="https://code.jquery.com/jquery-1.11.1.js"></script>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <ul>Create private chat room</ul>
    <form method="POST" id="regist_user_name"  action="/chatroom">
      <ul>Room Name : <%= roomname %></ul>
      <ul>User Name : <%= username %></ul>
      <br>
      <button>Regist</button>
    </form>
  </body>
</html>
